[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=xdg-open http://wiki.rogentos.ro/wiki/Pagina_principal%C4%83
Icon=kogaion-weblink

Name=Kogaion Documentation

