[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=xdg-open http://rogentos.ro/
Icon=/usr/share/pixmaps/kogaion-weblink.png

Name=Kogaion Homepage
Name[ro]=Pagina Web Kogaion

