[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=xdg-open https://gitlab.com/kogaion/kogaion-desktop
Icon=kogaion-weblink

Name=Kogaion Git Repos
Name[ro]=Depozite Kogaion
