[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=xdg-open http://webchat.freenode.net/?channels=rogentos-dezvoltare
Icon=kogaion-weblink

Name=Get Live Help
Name[ro]=Cere Ajutor Online