[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=xdg-open http://rogentos.ro/
Icon=kogaion-weblink

Name=Kogaion Homepage
Name[ro]=Pagina Web Kogaion

