[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=xdg-open http://bpr.bluepink.ro/~rogentos/iso/kogaion/
Icon=kogaion-weblink

Name=Download
Name[ro]=Descarcare